.modal-overlay {
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  z-index: 900;
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  width: 90%;
  max-width: 500px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
 }

.modal-close {
  background-color: #d97706;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
}

.modal-close:hover {
  background-color: #b45309;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  flex-wrap: wrap;
  gap: 10px;
}

.modal-add {
  background-color: #d97706;
  display: flex;
  align-items: center;
  gap: 5px;
}

.favorite-button-modal {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.3s;
}

.favorite-button-modal:hover {
  background-color: #f5f5f5;
}

.favorite-button-modal.active {
  border-color: crimson;
  color: crimson;
}